<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <footer>
        <div class="footer_wrap">
            <div>
                SW 사관학교 정글
            </div>
            <div>
                1조
            </div>
        </div>
    </footer>
</body>
</html>