
/* html, body {
    height: 100%;
} */

body {
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

header {
    height: 60px;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}

footer {
    height: 60px;
    background-color: #FFFFFF;
}

.header_wrap {
    max-width: 1104px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.footer_wrap {
    max-width: 1104px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 0 40px;
}

.wrap {
    max-width: 840px;
    margin: 20px auto;
    border-radius: 10px;
}

main {
    width: 100%;
    min-height: 70vh;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    /* background-color: #FFFFFF; */
    /* border: 1px solid rgba(0,0,0, 0.1); */
}

.header_logo_container {
    display: flex;
    align-items: center;
}

.header_logo_container > a {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 20px;
}

.input_container {
    background-color: #ffffff;
    height: 50px;
    border: 1px solid rgba(0,0,0, 0.1);
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    align-items: center;;
}

.input_container > input {
    width: 100%;
    outline: none;
    height: 40px;
    border: none;
    height: 100%;
    font-size: 16px;
    text-indent: 10px;

}

.icon_container { 
    width: 20px;
    height: 20px;
}

.icon_container > img { 
    width: 100%;
}

.header_logo_container > a > img {
    width: 100%;
}

.header_anchor_container {
}

.sign_btn {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.active_btn_color {
    color: blue;
}

.inactive_btn_color {
    color: black;
}

#list-container {
    height: 100%;
}

#list-container > div { 
    /* width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.no-search-result-image { 
    width: 200px;
    margin-bottom: 20px;
    /* height: 100px; */
}

.no-search-result-text  {
    text-align: center;
    font-size: 18px;
}

.no-search-result-image img { 
    width: 100%;
}

.email_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_wrap {
    max-width: 500px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.title-container {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
}

.sign_wrap > div {
    width: 100%;
}

.platform_conatier {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#loader-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-direction: column;
}

#platform-list {
    /* padding: 20px 40px; */
}

.platform-image-container {
    width: 150px;
    margin: 10px auto;
}

.platform-image-container img {
    width: 100%;
}

#list-init {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.platform-list {
    
}

.margin-top-add {
    margin-top: 10px;
}

.image-height {
    height: 240px;
}

.list-image-fit {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.position-relative {
    position: relative;
}

.position-favorite {
    text-align: right;
    cursor: pointer;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 10px !important;
}

.title2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.title3 {
    font-size: 20px;
    margin-bottom: 20px;
}

#title4 {
    display: flex;
    align-items:flex-end !important;
    justify-content:left !important;
    text-align: left !important;
    font-size: 20px;
    color: gray;
    margin-left: 10px;
}

.cursorPointer {
    cursor: pointer;
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin-top: 10px;
}

.fontLarge {
    font-size: 18px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;
}