/* * {
    font-family: "Stylish", sans-serif;
}

.wrap {
    width: 1000px;
    margin: auto;
}

.header {
    display: flex;
}

.header-btn {
    margin: auto;
    margin-left: 10px;
    width: 100px;
    height: 50px;
}

.memo-box {
    margin-top: 20px;
    width: 500px;
}

.memo-title {
    font-size: 25px;
}

.memo-contents {
    font-size: 20px;
}

.adj-memo-box {
    width: auto;
    padding: 10px;
} */