<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="numeral.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
            
    <title>Black Cow</title>

    <script>
        $(document).ready(function () {
            $("#search_input").val("");
            $('#loader-container').hide();
            // $("#list-container").empty();
        });

        function goDetail(data) {
            console.log(data);
        }

        
        function searchEnter(event) {
            const keyword = $("#search_input").val();
            const data = $.cookie('mytoken')
            $('#platform-list').empty();

            if(event.keyCode === 13) {
                if(keyword === "") {
                    alert("검색어를 입력해주세요.");
                    return;
                }
                
                $.ajax({
                    type: "POST",
                    url: "/products",
                    data: { 
                            user_query: keyword,
                            user_token: data,
                        },
                    beforeSend: function() {
                        $("#loader-container").show();
                    },
                    complete: function() {
                        $("#loader-container").hide();
                    },
                    success: function (response) {
                        if (response["result"] == "success") {
                            const bunjang = response?.data?.items?.bunjang;
                            const hellomarket = response?.data?.items?.hellomarket;
                            const joongna = response?.data?.items?.joongna;


                            let tempHtml = `
                                <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd is-multiline">
                                    ${bunjang ? 
                                        `
                                            <div class="column is-half item-container">
                                                <p class="platform-image-container">
                                                    <img src="{{ url_for('static', filename='images/bungae.png') }}" />
                                                </p>
                                                <div class="flex-row">
                                                    <p>
                                                        갯수
                                                    </p>
                                                    <p>
                                                        <strong>
                                                            ${numeral(bunjang.counts).format('0,0')}개
                                                        </strong>
                                                    </p>
                                                </div>
                                                <div class="flex-row">
                                                    <p>
                                                        평균 가격
                                                    </p>
                                                    <p>
                                                        <strong>
                                                            ${numeral(bunjang.average).format('0,0')}원
                                                        </strong>
                                                    </p>
                                                </div>
                                                <div class="flex-row">
                                                    <p>
                                                        전체 평균 대비
                                                    </p>
                                                    <p>
                                                        <strong>
                                                            ${numeral(bunjang.percentage).format('0,0')}%
                                                        </strong>
                                                    </p>
                                                </div>
                                                <button style="margin-top: 10px" class="button is-info is-small is-fullwidth" onclick="goDetail('+ JSON.stringify(bunjang)+ ')">바로가기</button>
                                            </div>
                                        `
                                    : ``}
                                    ${hellomarket ?
                                        `
                                            <div class="column is-half item-container">
                                                <p class="platform-image-container">
                                                    <img src="{{ url_for('static', filename='images/hello.png') }}" />
                                                </p>
                                                <div class="flex-row">
                                                    <p>
                                                        갯수
                                                    </p>
                                                    <p>
                                                        <strong>
                                                            ${numeral(hellomarket.counts).format('0,0')}개
                                                        </strong>
                                                    </p>
                                                </div>
                                                <div class="flex-row">
                                                    <p>
                                                        평균 가격
                                                    </p>
                                                    <p>
                                                        <strong>
                                                            ${numeral(hellomarket.average).format('0,0')}원
                                                        </strong>
                                                    </p>
                                                </div>
                                                <div class="flex-row">
                                                    <p>
                                                        전체 평균 대비
                                                    </p>
                                                    <p>
                                                        <strong>
                                                            ${numeral(hellomarket.percentage).format('0,0')}%
                                                        </strong>
                                                    </p>
                                                </div>
                                                <button style="margin-top: 10px" class="button is-info is-small is-fullwidth" onclick="goDetail('${hellomarket}')">바로가기</button>
                                            </div>
                                        `
                                    : ``}
                                    ${joongna ?
                                        `
                                            <div class="column is-half item-container">
                                                <p class="platform-image-container">
                                                    <img src="{{ url_for('static', filename='images/joongna.png') }}" />
                                                </p>
                                                <div class="flex-row">
                                                    <p>
                                                        갯수
                                                    </p>
                                                    <p>
                                                        <strong>
                                                            ${numeral(joongna.counts).format('0,0')}개
                                                        </strong>
                                                    </p>
                                                </div>
                                                <div class="flex-row">
                                                    <p>
                                                        평균 가격
                                                    </p>
                                                    <p>
                                                        <strong>
                                                            ${numeral(joongna.average).format('0,0')}원
                                                        </strong>
                                                    </p>
                                                </div>
                                                <div class="flex-row">
                                                    <p>
                                                        전체 평균 대비
                                                    </p>
                                                    <p>
                                                        <strong>
                                                            ${numeral(joongna.percentage).format('0,0')}%
                                                        </strong>
                                                    </p>
                                                </div>
                                                <button style="margin-top: 10px" class="button is-info is-small is-fullwidth" onclick="goDetail('${joongna}')">바로가기</button>
                                            </div>
                                        `
                                    : ``}
                                    
                                </div>
                            `
                            $('#platform-list').append(tempHtml)
                        }
                    }
                })
            }

        }

    </script>

</head>
<body>
    {% include './components/header/index.html' %}
        <div class="wrap">
            <div class="input_container">
                <p class="icon_container">
                    <img src="{{ url_for('static', filename='images/search_icon.png') }}" alt="search icon" />
                </p>
                <input
                    id="search_input"
                    type="text"
                    placeholder="검색어를 입력해주세요."
                    onKeypress="searchEnter(event)"
                />
                
            </div>
            <main>
                <div id="list-container">
                    <div id="platform-list">
                        <!-- <p class="no-search-result-image">
                            <img src="{{ url_for('static', filename='images/no_search_result_image.png') }}" alt="no search icon" />
                        </p> -->
                    </div>
                </div>
            </main>
            <div id="loader-container">
                <p>
                    <span>중고 플랫폼을 크롤링 하는 중입니다.</span>
                </p>
                <p>
                    <span>잠시만 기다려주세요.</span>
                </p>
                <p class="loader"></p>
            </div>
        </div>
    {% include './components/footer/index.j2' %}
</body>
</html>