<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <script>
        let flag = 0;

        function signUp() {
        
            let username = $("#input_username").val();
            let password1 = $("#input_password1").val();
            let password2 = $("#input_password2").val();
            let email = $("#input_email").val();

            if (username == "") {
                alert("Username을 입력해주세요.")
                $("#input_username").focus()
                return;
            } 

            if (password1 == "") {
                alert("Password를 입력해주세요.")
                $("#input_password1").focus();
                return;
            } else if (!check_password(password1)) {
                alert("Password의 형식을 확인해주세요.")
                $("#input_password1").focus();
                return;
            } 

            if (password2 == "") {
                alert("Password를 다시 입력해주세요.")
                $("#input_password2").focus();
                return;
            } else if (password2 != password1) {
                alert("Password가 일치하지 않습니다. 다시 입력해주세요.")
                $("#input_password2").focus();
                return;
            } 

            if (email == "") {
                alert("E-mail을 입력해주세요.")
                $("#input_email").focus()
                return;
            } else if (!flag) {
                alert("E-mail을 Check Up을 수행해주세요.")
                $("#checkup_email").focus()
                return;
            }

            $.ajax({
                type: "POST",
                url: "/sign_up",
                data: { 
                        username_give: username, 
                        password_give: password1, 
                        email_give: email 
                    },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert("회원 가입이 완료되었습니다.");
                        window.location.replace("#")
                    } 
                }
            })
        }

        function check_password(password) {
            var regExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
            return regExp.test(password);
        }

        function checkUp() {
            flag = 1
            let email = $("#input_email").val();
            
            if (email == "") {
                alert("E-mail을 입력해주세요.")
                $("#input_email").focus()
                return;
            }

            if (!check_email(email)) {
                alert("E-mail의 형식을 확인해주세요.")
                $("#input_email").focus();
                return
            }
            
            $.ajax({
                type: "POST",
                url: "/check_up",
                data: { 
                        email_give: email 
                    },
                success: function (response) {
                    if (response["duplicate"]) {
                        alert("이미 가입된 E-mail입니다.")
                        $("#input_email").focus();
                    } else {
                        alert("사용할 수 있는 E-mail입니다.")
                    }
                }
            })

        }

        function check_email(email) {
            var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
            return regExp.test(email);
        }

    </script>

    <title> 블랙카우 | 회원가입 </title>
</head>

<body>
    {% include './components/header/index.html' %}
        <div class="wrap">
            <main>
                <p>
                    <span>{{title}}</span>
                </p>
                <div>
                    <input id="input_username" class="input columns is-medium is-gapless" type="text" placeholder="Username을 입력해주세요(한글/영문/숫자/특수문자, 2-15자).">
                    <input id="input_password1" class="input columns is-medium is-gapless" type="password" placeholder="Password를 입력해주세요(영문/숫자/특수문자, 8-20자).">
                    <input id="input_password2" class="input columns is-medium is-gapless" type="password" placeholder="Password를 다시 입력해주세요.">
                    <input id="input_email" class="input columns is-medium is-gapless" type="email" placeholder="E-mail을 입력해주세요.">
                </div>
                <div class="columns is-gapless">
                    <button id="checkup_email" class="button is-light" onclick="checkUp()">Check Up</button>
                    <button class="button is-dark" onclick="signUp()">Sign Up</button>
                </div>
            </main>
        </div>
    {% include './components/footer/index.j2' %}
</body>

</html>